# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# IDE/editor
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db

# Git
*.orig

# Render/Docker
docker-compose.override.yml
